"C:\Users\dipan\Desktop\Work\Scalesphere\index.html"*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
  
}

.Nav{  
    position: fixed;
    transition: all 0.3s ease-in-out;
    background-color: rgba(48, 48, 48, 0.139);
    backdrop-filter: blur(5px);
    z-index: 1;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    
}

.Nav .navbar  img {
  object-fit: contain; 
  height: 10rem;  
}

.Nav .navbar  a {
  margin-left:5px;
  color: #F0F0F0 !important;
}

/* Default nav style (dark background behind) */
.Nav.light a {
  color: #042971 !important; /* dark text for light backgrounds */
}

.Nav.dark a {
  color: #F0F0F0 !important; /* light text for dark backgrounds */
}


.navbar .collapse ul li a:hover{
  color: #3aa7d9 !important;
}

.navbar button:hover{
  background-color: #298dbc;
}

.Nav .navbar .collapse .btn:hover{
  background-color: #3aa7d9 !important;
}

.box1{
    background-color: #3f619d;
}

.box1 button:hover{
  background-color: #3aa7d9 !important;
}

.box1 a:hover{
  color: #3aa7d9 !important;
}

.box1 img{
  animation: up-down alternate-reverse 2s ease-in-out infinite; 
} 

@keyframes up-down{
  0% {transform: translateY(-10px); }
  50% {transform: translateY(0px); }
  100% {transform: translateY(10px); }
}

.swpr swiper-container {
    width: 100%;
    height: 100%;
  }

.swpr  swiper-slide {
    text-align: center;
    font-size: 18px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.swpr swiper-slide img {
    display: block;
    width: 60%;
    object-fit: cover;
    display: flex;
    align-items: center ;
  }

.au ul li{
  list-style: none;
}

.au button:hover{
  background-color: #54c9ff !important;
  color: #fff !important;
}

.accord{
  background-color: #f2f1f1;
}

.accord .accordion .accordion-item{
  width: 85%;
  border: none;
  box-shadow:  3px 10px 15px 2px rgba(128, 128, 128, 0.198);
}

.accord .accordion .accordion-item .hoverrr{
  color: #37517E;
  text-decoration: none;
}

.accord .accordion .accordion-item .hoverrr:hover{
  color: #2fbdff;
}

.prog .progg .resize-img {
      width: 100%;
      animation: resizeAnim 4s infinite alternate ease-in-out ;
    }

    @keyframes resizeAnim {
      0%   { transform: scale(1); }   
      50%  { transform: scale(0.7); } 
      100% { transform: scale(1); }   
    }


.prog .progg .progress-bar.frontend{
  background-color: #37517E;
  animation: progressAnimationfrontend 2s forwards;
}

@keyframes progressAnimationfrontend {
  from { width: 0%; }
  to { width: 85%; }
}

.prog .progg .progress-bar.testing{
  background-color: #37517E;
  animation: progressAnimationtesting 3s forwards;
}

@keyframes progressAnimationtesting {
  from { width: 0%; }
  to { width: 95%; }
}

.prog .progg .progress-bar.CRM{
  background-color: #37517E;
  animation: progressAnimationCRM 3s forwards;
}

@keyframes progressAnimationCRM {
  from { width: 0%; }
  to { width: 75%; }
}

.prog .progg .progress-bar.deploy{
  background-color: #37517E;
  animation: progressAnimationDeploy 3s forwards;
}

@keyframes progressAnimationDeploy {
  from { width: 0%; }
  to { width: 80%; }
}

.prog .progg .row .col-md-6{
  font-size: small;
  font-weight: 600;
  color: #444444;
}

.service{
  background-color: #f4f1f1;
}

.service .card{
  height: 400px;
  border: none;
}

.service .card:hover{
  transform: translateY(-10px);
  transition: .7s ease-in-out ;
}

.service .servicee .card h5:hover{
  color: #47B2E3 !important;
}

.cardd ul li{
  list-style: none;
  line-height: 40px !important;
}

.cardd .card{
  height: 600px;
  border: none;
  overflow: hidden;
  box-shadow:  3px 10px 15px 2px rgba(128, 128, 128, 0.198);
}

.cardd .carddd .card:hover{
  transform:translateY(-10px);
  transition: .7s ease;
}

.cardd .carddd .card:hover img{
  width: 100%;
  transform: scaleX(1.3) scaleY(1.2);
  transition: .7s ease;
}

.cta{
  background-color: #3f619d74;
  background-image: url(	https://bootstrapmade.com/content/demo/Arsha/assets/img/bg/bg-8.webp);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  
}

.cta button{
  border: solid 2px white;
}

.cta button:hover{
  background-color: #54c9ff !important;
  border-color: #54c9ff;
}

.port .portt ul li button{
  color: black !important;
}

.port .portt ul li button.active {
  color: white !important; /* Text color when active */
  background-color: #47B2E3;
}

.port .portt ul li button:hover {
  color: white !important; 
  background-color: #0a71c5;
}

.port .portt .row .card{
  border-radius: 0%;
  width: 25rem !important;
  height: 300px;
  margin: 10%;
  border: transparent 1px solid;
}

.port .portt .row .card img{
  border-radius: 0%;
  object-fit: cover;
 
}

.port .portt .all1 {
  position: relative; 
  background-image: url(https://tse1.mm.bing.net/th/id/OIP.wvnAkZF5G_G8x-Fvdv5u4gHaDx?w=1024&h=522&rs=1&pid=ImgDetMain&o=7&rm=3);
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.port .portt .all1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 75, 82, 0.404);
  z-index: -1; 
}

.port .portt .all2 {
  position: relative; 
  background-image: url(https://www.247digitize.com/wp-content/uploads/2020/11/crm-customer-relationship-management-business-sales-marketing-system-concept-5822597-800x500.jpg);
  background-size: cover;
  background-position: center;
  z-index: 1;
}
.port .portt .all2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 75, 82, 0.404);
  z-index: -1; 
}

.port .portt .all3 {
  position: relative; 
  background-image: url(https://translatepress.com/wp-content/uploads/2024/02/02-popular-market-expansion-strategies.jpg.webp);
  background-size: cover;
  background-position: center;
  z-index: 1;
}
.port .portt .all3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 75, 82, 0.404);
  z-index: -1; 
}

.port .portt .app1 {
  position: relative; 
  background-image: url(https://tse1.mm.bing.net/th/id/OIP.tSOIyF7kFgt1WkaKn-GvFQHaFj?rs=1&pid=ImgDetMain&o=7&rm=3);
  background-size: cover;
  background-position: center;
  z-index: 1;
}
.port .portt .app1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 75, 82, 0.404);
  z-index: -1; 
}

.port .portt .app2 {
  position: relative; 
  background-image: url(https://thumbs.dreamstime.com/z/customers-laptop-headset-giving-thumb-up-rating-stars-customer-feedback-customer-rating-feedback-customer-relationship-150453307.jpg);
  background-size: cover;
  background-position: center;
  z-index: 1;
}
.port .portt .app2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 75, 82, 0.404);
  z-index: -1; 
}

.port .portt .card1{
  position: relative; 
  background-image: url(https://elements-resized.envatousercontent.com/elements-cover-images/31d18ab0-3fb3-45e1-abbe-f69359faf208?w=433&cf_fit=scale-down&q=85&format=auto&s=9c73a8a89205e91285b360225d3ba24d1bfa5cbb4cf679058c93f79da8179911);
  background-size: cover;
  background-position: center;
  z-index: 1;
}
.port .portt .card1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 75, 82, 0.404);
  z-index: -1; 
}

.port .portt .card2 {
  position: relative; 
  background-image: url(https://i0.wp.com/graphicnova.com/wp-content/uploads/2019/04/EPS-Creative-Business-Card-Design-Template-3.jpg?fit=3000%2C2250&ssl=1);
  background-size: cover;
  background-position: center;
  z-index: 1;
}
.port .portt .card2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 75, 82, 0.404);
  z-index: -1; 
}

.port .portt .web1 {
  position: relative; 
  background-image: url(https://tse2.mm.bing.net/th/id/OIP.-01riOsY_Z1rNYaEwdXWBQHaEo?w=680&h=425&rs=1&pid=ImgDetMain&o=7&rm=3);
  background-size: cover;
  background-position: center;
  z-index: 1;
}
.port .portt .web1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 75, 82, 0.404);
  z-index: -1; 
}

.port .portt .web2 {
  position: relative; 
  background-image: url(https://tse4.mm.bing.net/th/id/OIP.38BZDPL3Hoi3tR3v38CllwHaD3?w=500&h=261&rs=1&pid=ImgDetMain&o=7&rm=3);
  background-size: cover;
  background-position: center;
  z-index: 1;
}
.port .portt .web2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 75, 82, 0.404);
  z-index: -1; 
}

.team .teamm .caard .card{
  border: none;
  box-shadow:  3px 5px 5px 5px rgba(128, 128, 128, 0.198);
}

.team .teamm .caard .card:hover{
  transform: translateY(-10px);
  transition: .8s ease-in-out !important;
}

.team .teamm .caard .card a{
  margin-right: 10px;
  background-color: rgba(211, 211, 211, 0.427);
  color: gray;
  padding: 2%;
  border-radius: 50%;
}

.team .teamm .caard .card a:hover{
  background-color: #3aa7d9;
  color: #fff;
}

.team .teamm .caard .card p{
  word-spacing: -1px;
}

.price{
  background-color: rgba(169, 169, 169, 0.107);
}

.price .pricee ul li{
  list-style: none;
  color:rgb(125, 125, 125);
  padding-top: 20px;
  font-size: large;
}

.price .pricee .card{
  border: none;
  width: auto;
  height: 40rem;
  box-shadow: 3px 5px 5px 5px rgba(128, 128, 128, 0.136);
}
 
.price .pricee .card:hover{
  transform: translateY(-10px);
  transition: 1s ease ;
}

.price .pricee .card .btn{
  margin-top: auto;
  margin-bottom: 20px;
  align-self: center;
}

.price .pricee .card .btn:hover{
  background-color: #54c9ff !important;
  border: #54c9ff;
  color: #fff !important;
}

.test .testt .carousel-inner .carousel-item{
  height: 400px;
}

.test .testt .carousel-inner .carousel-item{
  width: 10%;
  
}

swiper-container {
  width: 100%;
  height: 100%;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

swiper-slide img {
  width: 10%;
  object-fit: cover;
}

swiper-slide p{
  font-size: smaller;
  color:rgb(167, 167, 167);
  font-weight: bold;
}

.faq{
  background-color: rgba(128, 128, 128, 0.088);
}

.faq .faqq p{
  color: rgb(109, 109, 109);
}

.faq .faqq .acc a{
  color: rgb(109, 109, 109);
}

.faq .faqq .acc .accordion-button:focus{
  background-color: none !important;
  color: #54c9ff !important;
}

.faq .faqq .acc .accordion-button:hover{
  color: #54c9ff !important;
}

.news{
  background-color: rgba(128, 128, 128, 0.082);
}

.new .news img{
  height: 500px;
}

.new .news .btn:hover{
  background-color: #3aa7d9 !important;
}

.blogg{
  background-color: rgba(128, 128, 128, 0.165);
}

.blogg .bloggg .card{
  border: none;
  box-shadow: 3px 10px 15px 2px rgba(128, 128, 128, 0.304);
  overflow: hidden;
}

.blogg .bloggg .card a{
  text-decoration: none;
}

.blogg .bloggg .card:hover h5,.card:hover .hov{
  color: #54c9ff !important;
}

.blogg .bloggg .card .imghov{
  overflow: hidden;
}

.blogg .bloggg .card:hover img{
  transition: 1s ease;
  transform: scaleX(1.2) scaleY(1.2);
}

.contactt{
  background-color: rgba(128, 128, 128, 0.082);
}

.contactt .contacttt .detaill{
  border-top: 3px solid rgb(15, 161, 206);
  border-bottom: 3px solid rgb(15, 161, 206); 
}

.contactt .contacttt .formm{
  border-top: 3px solid rgb(15, 161, 206);
  border-bottom: 3px solid rgb(15, 161, 206);
}

.newss{
  background-color: rgba(128, 128, 128, 0.208);
}

.foott .foottt .fu a{
  margin-right: 10px;
  border: 1px solid gray;
  color: gray;
  padding: 10px;
  border-radius: 50%;
}
